  <app-loader [message]="animation"></app-loader>
 <div *ngIf="!animation" class="container" style="overflow: hidden" >
    <mat-card id="loginBackground" class="row  h-100 mh-100 mat-elevation-z8 animated fadeIn">
        <mat-card-content class="col-md-12  col-12 mb-5"> 
          <!-- TITLE -->
          <mat-card-title class="col-md-12">
            <h4><mat-icon>person</mat-icon>Iniciar Sesión</h4>
          </mat-card-title>

          <mat-card-subtitle class="col-md-12">
            Ingrese sus datos para acceder a su cuenta
          </mat-card-subtitle>
              <form  [formGroup]="this.formLogin" (ngSubmit)="login()" autocomplete="off">
    
                <!-- EMAIL -->
                <mat-form-field class="col-md-12 mt-4">
                  <mat-label>Ingrese su e-mail</mat-label>
                  <input formControlName="email" matInput placeholder="Email">
                  <mat-error appColorError>
                    Por favor ingresa un correo válido
                  </mat-error>
                </mat-form-field>
    
                <!-- PASSWORD -->
                <mat-form-field class="col-md-12 mt-4">
                  <input formControlName="password" matInput [type]="hide ? 'password' : 'text'" placeholder="Password" >     
                  <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  <mat-error appColorError *ngIf="this.passwordControl.errors">
                    {{passwordControl.errors.passwordValidation.message}}
                  </mat-error>
                </mat-form-field>
                
                <button  
                  [disabled]="(this.formLogin.dirty && this.formLogin.invalid) || (this.formLogin.touched && this.formLogin.invalid) || (this.formLogin.invalid && this.formLogin.untouched)"
                  mat-raised-button color="primary" 
                  type="submit" 
                  class="col-md-12 button-SignIn mt-5 "
                  >Ingresar</button>      

              </form>      

          <button [routerLink]="'/auth/register'" mat-raised-button color="primary" class="button-SignUp mt-3">Ir a Registrarse</button>           

    
        </mat-card-content>
    </mat-card>
  
  </div>
