mat-card {
    max-width: 500px;
    margin: 1em auto;
    margin-top: 11.2%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
    
  mat-form-field {
    display: block;
  }
  
  .button-SignIn{
    background: #08D9D6;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
  }
    
  .button-SignUp{
    background: #FF2E63;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
  }
  #registerBackground{
    background: rgba(0, 0, 0, 0.6);
  }