<div class="container" style="overflow: hidden" >
    <mat-card id="registerBackground" class="row h-100 mh-100   mat-elevation-z8 animated fadeIn">
        <mat-card-content i class="col-md-12 col-12 mb-5"> 
          <!-- TITLE -->
          <mat-card-title class="col-md-12">
            <h4><mat-icon>person</mat-icon>Registrarse en MovieAPP</h4>
          </mat-card-title>

          <mat-card-subtitle class="col-md-12">
            Ingrese sus datos para acceder a su cuenta
          </mat-card-subtitle>
          <form [formGroup]="this.formRegister" (ngSubmit)="register()" autocomplete="off">

            <mat-form-field class="col-md-12 mt-4">
              <mat-label>Ingrese su Nombre Completo</mat-label>
              <input formControlName="name" matInput type="text" placeholder="Nombre">
              <mat-error appColorError>Nombre es requerido</mat-error>
            </mat-form-field>

            <!-- EMAIL -->
            <mat-form-field class="col-md-12  mt-4 ">
              <mat-label>Ingrese su e-mail</mat-label>
              <input formControlName="email" matInput placeholder="Email">
              <mat-error appColorError>
                Por favor ingresa un correo válido
              </mat-error>
            </mat-form-field>

            <!-- PASSWORD -->
            <mat-form-field class="col-md-12  mt-4">
              <input formControlName="password" matInput type="password"  placeholder="Password" >     
              <mat-error appColorError *ngIf="this.passwordControl.errors">
                {{passwordControl.errors.passwordValidation.message}}
              </mat-error>
            </mat-form-field>

            <button 
             mat-raised-button 
             [disabled]="(this.formRegister.dirty && this.formRegister.invalid) || (this.formRegister.touched && this.formRegister.invalid) || (this.formRegister.invalid && this.formRegister.untouched)"
             color="primary" 
             type="submit" 
             class="col-md-12 button-SignIn mt-5">Registrar</button>      

          </form> 
          <button [routerLink]="'/auth/login'" mat-raised-button color="primary" class="button-SignUp mt-3">Volver</button>           

    
        </mat-card-content>
    </mat-card>
  
</div>

