<div class="swiper-container ">
    <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let movie of this.movies"
            [ngStyle]="{
                'background-image': 'url(https://image.tmdb.org/t/p/w500'+ movie.backdrop_path +' )' 
            }">
            <div class="movie-description">
                <h3>{{movie.title}}</h3>
                <p>{{movie.overview | slice:0:90}}...</p>
            </div>
        </div>
    </div>

    <div class="swiper-pagination"></div>
  
    <div class="swiper-button-prev" (click)="this.onSlidePrevious()"></div>
    <div class="swiper-button-next" (click)="this.onSlideNext()"></div>
  
</div>
