
.swiper-button-next, .swiper-button-prev{
    color: white;
}

.movie-description{
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    padding: 5px 10px;
    position: absolute;
    width: 96%;
}


.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;

  }