
<div class="row mb-5">
    
    <div class="d-flex col-md-2 mb-5 align-content-between" *ngFor="let movie of movies;  index as i">

        <mat-card class="poster background-card mb-5">

            <div mat-card-avatar class="header-image" [ngStyle]="{
                'background-image': 'url(' + (movie.backdrop_path | poster) + ')', 'background-size': 'cover'}" >
            </div>
   
            <mat-card-header class="mt-1"> 
                <mat-card-title>{{movie.title}}</mat-card-title>
                <mat-card-subtitle>{{movie.popularity}}/100</mat-card-subtitle>
            </mat-card-header>
            <img [src]="movie.backdrop_path | poster" 
                 style="max-width: 165px;"
                 class="img-fluid poster"
                 (click)="goToMovie(movie)">
            <mat-card-actions>
                <button mat-raised-button (click)="deleteOfFavoriteMovies(movie.id)" color="primary" >Quitar</button>
                <button mat-raised-button (click)="goToMovie(movie)" color="secondary" >Ver mas...</button>
            </mat-card-actions>

        </mat-card> 
 
    </div>
</div>