


<app-loader *ngIf="!this.movies && !this.moviesSlideShow" [message]="animation"></app-loader>

 


<div class="container-fluid background-movies animated fadeIn" *ngIf="this.movies">
    <div class="row mx-5">
        <div class="col-12  mt-5 mb-5 mat-elevation-z8">
            <h2>Películas</h2><h3><strong>Últimas Añadidas</strong></h3>
            <mat-divider class="my-5"></mat-divider>
            <app-movie-poster [movies]="this.movies"></app-movie-poster>       
        </div>
    </div>
</div>
