
<app-loader [message]="this.loader" *ngIf="!this.currentUser"></app-loader>

<app-header *ngIf="this.currentUser" [currentUser]="this.currentUser" ></app-header>
<div *ngIf="this.currentUser" class="animated fadeIn cont ">
    <div class="">
        <router-outlet></router-outlet>
    </div>
</div>
