<div class="container animated fadeIn" *ngIf="this.currrentUser">
    <div class="row my-5">
        <div class="col-md-7 offset-2 my-5">
            <mat-card>
                <h2  mat-line >Editar Perfil</h2>
                <mat-divider></mat-divider>
                <mat-card-header class="m-5">
                  <div mat-card-avatar class="header-image"></div>

                  <mat-card-title>{{this.currrentUser.name}}</mat-card-title>
                  <mat-card-subtitle>{{this.currrentUser.email}}</mat-card-subtitle>
                </mat-card-header> 
           
                <mat-card-content>
                  <form [formGroup]="this.perfilForm" autocomplete="off">
                    <mat-form-field class="col-12" appearance="outline" color="accent">
                      <mat-label> Nombre usuario </mat-label>
                      <input 
                        matInput
                        formControlName="name"
                        type="text">
                    </mat-form-field>
                    <!-- <mat-form-field class="col-12" appearance="outline" color="accent">
                      <mat-label> Email </mat-label>
                      <input
                        matInput 
                        formControlName="email"
                        type="email">
                    </mat-form-field> -->
                  </form>

                </mat-card-content>
                <mat-divider></mat-divider>
                <mat-card-actions class="d-flex p-3">
                  <button  mat-raised-button color="accent" class="col" mat-button>Guardar Perfil</button>
                  <button mat-raised-button color="accent" class="col"  mat-button>Eliminar Cuenta</button> 
                </mat-card-actions>

            </mat-card>

        </div>


    </div>

</div>
<app-footer></app-footer>