mat-card {
    width: 100vh;
    background: rgba(30, 10, 218, 0.4);

}
  
.header-image {
    background-image: url('https://cdn4.iconfinder.com/data/icons/avatars-xmas-giveaway/128/batman_hero_avatar_comics-512.png');
    background-size: cover;
}


.button-save{
  background-color: green;
}

.button-delete-account{
  background-color: red;
}