<div class="container-fluid" >
  <div class="row w-100 h-100 p-0  ">
    <div class="col-md-12 col-1 w-100 h-100 mh-100">
      <div class="row mt-0 mb-3">
        <div class="col-md-12 col-1 mw-100 p-0 m-0 mat-elevation-z8 mh-100">
          <mat-toolbar  class="row mx-0 p-0 mat-toolbar-config" color="secondary"> 
            
            <!-- ICON MOVIE APP -->
            <div class="col-md-1 col-12 m-2"> 
              <button class="m-2 col p-0 " mat-icon-button [routerLink]="'/home'" [routerLinkActive]="'active'">
                <mat-icon color="primary">movie</mat-icon>
                <span class="col">MOVIES APP</span>   
              </button>
            </div>        
            
            <mat-form-field class="col mx-5" appearance="standard" 
              >
              <input 
                #txtSearch
                (keyup.enter)="searchMovie( txtSearch.value )"
                matInput 
                type="search"
                placeholder="Harry Potter, Jurasicc Park, Evangelion...."
                aria-label="Search"
                autocomplete="off">       
                <button type="button" mat-icon-button matSuffix (click)="searchMovie( txtSearch.value)" >
                  <mat-icon matSuffix>search</mat-icon>     
                </button>
            </mat-form-field>

            <!-- GO TO HOME  -->
            <button class="col-md-1 col-12 mx-2 button-links" color="secondary" mat-button [routerLink]="'/home'" [routerLinkActive]="'active'">Inicio</button>
            <!-- GO TO MOVIES -->
            <button class="col-md-1 col-12 mx-2 button-links" [routerLink]="'/list-movies'" [routerLinkActive]="'active'" mat-button color="secondary">Películas</button>
            <!-- GO TO ACTORS -->
            <button class="col-md-1 col-12 mx-2 button-links" [routerLink]="'/list-actors'" [routerLinkActive]="'active'" mat-button color="secondary">Actores</button>
            <!-- GO TO CINES -->
            <!-- <button class="col-md-1  col-12 mx-2 button-links"  mat-button color="secondary">Cines</button>
            <span class="mx-3"></span> -->


            <!-- TRIGGER BUTTON PERFIL -->
            <div class="col-md-1 col-12 mx-2 my-2 button-perfil">
              <button class="m-2"mat-icon-button color="primary" [matMenuTriggerFor]="menu" >
                <mat-icon>manage_accounts</mat-icon>
                <span class="mr-3">Perfil</span>
              </button> 
            </div>



            <!-- MENU SHOWED WHEN ONCLICK -->
            <mat-menu #menu="matMenu" class="mt-3">
              <div mat-menu-item class="m-3">
                <span class="m-2">Hola {{this.currentUser.name | titlecase }} </span>        
              </div>
              <mat-divider color="yellow" class="mb-2"></mat-divider>
              <button [routerLink]="'/perfil'"  mat-menu-item>
                <mat-icon color="primary">face</mat-icon>
                <span>Tu Perfil</span>
              </button>
              <button [routerLink]="'/favorites'"  mat-menu-item>
                <mat-icon style="color: yellow;">star</mat-icon>
                <span>Favoritos</span>
              </button>
              <button mat-menu-item (click)="onLogout()">
                <mat-icon color="warn">logout</mat-icon>
                <span >Cerrar Sesión</span>
              </button>

            </mat-menu>

          </mat-toolbar>    
        </div>
      </div>
    </div>
  </div>
</div>