.item-spacer{
    flex: 1 1 auto;
}

button{
    font-size: 80%;
    min-width: min-content;
}

.button-links{
    border: 1px solid white;
}

.button-perfil{
    border-bottom: 1px pink;
}



.mat-toolbar-config{
    height: 105px;  
    background-color: #29303b; color: aliceblue;  
    background: radial-gradient(circle, #24246e, #06051f);
}

