
<div class="row mb-5">
    <div class="d-flex col-md-2 mb-5 align-content-between" *ngFor="let movie of movies">
       
        <mat-card class="poster background-card mb-5">
            <mat-card-header class="mt-1">
                <mat-card-title>{{movie.title}}</mat-card-title>
            </mat-card-header>
            <img [src]="movie.poster_path | poster" 
                 style="max-width: 165px;"
                 class="img-fluid poster"
                 (click)="goToMovie(movie)">

            <mat-card-content>
                <div class="col-md-2 mt-3 text-white">
                    {{movie.vote_average | number: '1.1-2'}}
                </div>
                <div class="row">
                    <div class="ml-3 col-md-12">
                        <star-rating [value]="this.movie.vote_average"
                                        [totalstars]="10"
                                        uncheckedcolor="grey"
                                        checkedcolor="orange"
                                        size="17px" [readonly]="true">
                        </star-rating> 
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-stroked-button color="primary" (click)="addToFavorite(movie)"><small>Añadir</small></button>
                <button mat-stroked-button color="secondary" (click)="goToMovie(movie)" >Ver mas...</button>
            </mat-card-actions>

        </mat-card>
    </div>
</div>