<app-loader *ngIf="!this.movieDetails" [message]="load"></app-loader>


<div class="d-flex poster mx-5 animated fadeIn" *ngIf="this.movieDetails" >
    <div class="ml-5 mt-3 mr-2 mb-5" >
        <img 
            class="img-thumbnail poster"
            [src]="this.movieDetails.poster_path | posterDetail" 
            [alt]="this.movieDetails.title">
    </div>

    <div class="col-md-4 ml-2" >
        <h3>{{this.movieDetails.title}}</h3>
        <div class="row">
            <div class="col-4">
                <star-rating
                    [value]="this.movieDetails.vote_average"
                    [totalstars]="10"
                    uncheckedcolor="grey"
                    checkedcolor="orange"
                    size="16px" [readonly]="true">
                </star-rating>
            </div>
            <div class="col-1">
                {{this.movieDetails.vote_average | number:'1.1-2'}}
            </div>
        </div>
        <hr>
        <div class="row mt-2">
            <div class="col">
                <p class="text-justify"> 
                    {{this.movieDetails.overview }}    
                </p>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col">
                <button (click)="back()" mat-raised-button color="accent">
                    Regresar
                </button>
            </div> 
        </div>
    </div>
</div>

<div class="row mx-5" *ngIf="this.casting.length > 0">
    <div class="col-md-12"> 
        <app-casting-slide-show [casting]="this.casting"></app-casting-slide-show>
    </div>
</div>
