
<div class="container-fluid">
    <div class="row p-3 p-md-5 mb-3  text-center">
        <div class="col-md-12">
            <mat-divider class="m-5"></mat-divider>
            <mat-card >
                <h1 class="col mt-5" >Películas</h1><h3 class="col"><strong>Últimos Estrenos</strong></h3>
                <hr>
                <div class="col  p-0 p-lg-5 mx-auto animated fadeIn">
                    <app-moview-now-playing></app-moview-now-playing>
                </div> 
            </mat-card>   
            <mat-divider class="m-5"></mat-divider>
            <mat-card >
                <div class="col-md-8 p-0 mt-5 p-lg-5 mx-auto animated fadeIn">
            
                    <mat-icon  class="mx-1">movie_filter</mat-icon> 
                    <mat-icon class="mx-1">recent_actors</mat-icon> 
            
                    <h1  class="display-4 font-weight-normal"> Movie Astronaut APP </h1>
                    <p >Es una aplicación que permite ver los últimos estrenos de películas, actores, y cines</p>
                    <button class="mt-2" mat-stroked-button [routerLink]="'/list-movies'" >Ver Películas</button>
                
                </div>
            </mat-card>   
            <mat-divider class="m-5"></mat-divider>
            <mat-card >
                <h1 class="col mt-5" >Actores Destacados</h1><h3 class="col"><strong>Últimos Agregados</strong></h3>
                <hr>
                <div class="row ">
                    <div class="col  p-0 p-lg-5 mx-auto animated fadeIn">
                        <app-casting-slide-show [casting]="this.actors"></app-casting-slide-show>
                    </div>                
                </div>
            </mat-card>   
            <mat-divider class="m-2"></mat-divider>
        </div>

    </div>
</div>

<mat-divider class="mt-2">

</mat-divider>

<app-footer class="mt-5"></app-footer>

