
<div class="container-fluid background-movies mb-3">
    <div class="row mb-3">
        <div class="col mat-elevation-z8 ">
            <h2 class="mt-5">Buscar Películas <b>{{ text  | titlecase }}</b></h2> 
            <hr class="mb-5">
            <app-movie-poster [movies]="this.movies"></app-movie-poster>
        </div>
    </div>
    <mat-divider class="row my-5"></mat-divider>
</div>
<app-footer></app-footer>

