<app-loader *ngIf="!this.moviesSlideShow" [message]="animation"></app-loader>

<app-movie-slideshow animated fadeIn  *ngIf="this.moviesSlideShow"  [movies]="this.moviesSlideShow"></app-movie-slideshow>


