<div class="swiper-container">
    <div class="swiper-wrapper mx-2">
        <div *ngFor="let actor of casting"
            class="swiper-slide text-center col-2 mx-2 p-2">
            <img class="poster"
                [src]="actor.profile_path | poster " 
                style="max-width: 165px;" 
                [alt]="actor.name">
            <div class="col mb-3">
               <h4> {{actor.name}} </h4> 
            </div>
        </div>
    </div>
</div>
