
<div class="row mb-5">
    
    <div class="d-flex col-md-2 mb-5 align-content-between" *ngFor="let actor of actors;  index as i">

        <mat-card class="poster background-card mb-5">

            <div mat-card-avatar class="header-image" [ngStyle]="{
                'background-image': 'url(' + (actor.profile_path | poster) + ')', 'background-size': 'cover'}" >
            </div>
   
            <mat-card-header class="mt-1"> 
                <mat-card-title>{{actor.name}}</mat-card-title>
                <mat-card-subtitle>{{actor.popularity}}/100</mat-card-subtitle>
            </mat-card-header>
            <img [src]="actor.profile_path | poster" 
                 style="max-width: 165px;"
                 class="img-fluid poster"
                 (click)="goToactor(actor)">
            <mat-card-actions>
                <button mat-stroked-button (click)="addActor(actor)" color="primary" >Añadir</button>
                <button mat-stroked-button color="secondary" >Ver mas...</button>
            </mat-card-actions>

        </mat-card> 
 
    </div>
</div>
