<app-loader *ngIf="!this.actors" [message]="animation"></app-loader>


<div class="container-fluid background-actors animated fadeIn mb-5" *ngIf="this.actors">
    <div class="row mx-5 mb-5">
        <div class="col-12  mt-5 mb-5 mat-elevation-z8">
            <h2>Top Actores</h2><h3><strong>Populares</strong></h3>
            <mat-divider class="my-5"></mat-divider>
            <app-actor-poster class="mb-5 " [actors]="this.actors"></app-actor-poster>
        </div>
    </div>
</div>

<app-footer></app-footer>