/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap-grid.min.css';

html, body { height: 100%; }
body { padding: 0; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #29303b; color: aliceblue;  background: radial-gradient(circle, #24246e, #06051f);}

/**Transitions*/
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .fast {
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }
  

.poster{
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  margin: 5px;
}

// CONFIG  SNACKBAR
.blue-snackbar {
  color: white;
  background: #2196F3;
}


.green-snackbar {
  color: white;
  background: green;
}

