<app-loader *ngIf="!this.actorList" [message]="true"></app-loader>

<div class="container-fluid background-actors animated fadeIn mb-5" *ngIf="this.actorList">
    <div class="row mx-5 mb-5">
        <div class="col-12  mt-5 mb-5 mat-elevation-z8">
            <h2>Actores Favoritos</h2>
            <mat-divider class="my-5"></mat-divider>
            <app-actor-favorite-card *ngIf="this.actorList" class="mb-5" [actors]="this.actorList">
            </app-actor-favorite-card>
            <hr>
            <h2>Peliculas Favoritas</h2>
            <mat-divider class="my-5"></mat-divider>
            <app-movie-favorite-card *ngIf="this.movieList" [movies]="this.movieList" class="mb-5" >
            </app-movie-favorite-card>
        </div>
    </div>
</div>
