.spacer {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    
 }

 #facebook{
    background-color:  #3b5998;
    color: white;
 }
