<footer>
    <mat-toolbar color='primary' >
      <mat-toolbar-row>
        <span class='spacer'></span>
          <h3>@Copyright Movie APP </h3>
 
          <button  mat-icon-button  class="mx-2">
            <mat-icon>home</mat-icon>
          </button>

          <h3 class="mx-5" >Developed by Oreji</h3>

           <button id="facebook"  mat-icon-button  class="mx-2">
            <mat-icon>facebook</mat-icon>
          </button> 
        <span class='spacer'></span>
      </mat-toolbar-row>

    </mat-toolbar>
</footer>
